
{% extends "accounts/base.html" %}

{% block content %}
    <h1>Welcome, {{ user.username }}</h1>

    <div>
        {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" width="150" height="150" class="rounded-circle">
        {% else %}
            <p>No profile picture available.</p>
        {% endif %}
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
    </div>
{% endblock %}
